
@{
    ViewData["Title"] = "Confirm Reset Password";
}

<h2>Check Your Email</h2>

<p>
    We’ve sent you an email with a link to reset your password.  
    Please open your inbox and click the link to complete the password reset process.
</p>