@model VerifyEmailViewModel
@{
    ViewData["Title"] = "Verify Email";
}

<h2>Email Verification</h2>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<form asp-action="ConfirmEmailToken" method="post">
    @Html.AntiForgeryToken()

    

    <div class="mb-3">
        <label asp-for="Token" class="form-label"></label>
        <input asp-for="Token" class="form-control" />
        <span asp-validation-for="Token" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Verify Email</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}