@model ERP_System_Project.Models.Inventory.Warehouse

<div class="form-page create-warehouse">
    <div class="form">
        <h3 class="formTitle" id="form-title">Add Warehouse</h3>

        <form asp-action="Create" method="post">

            <div class="form-group">
                <input asp-for="Code" class="form-control" placeholder=" " />
                <label asp-for="Code"></label>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder=" " />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="BranchId" class="form-select" asp-items="@(ViewData["Branches"] as SelectList)">
                    <option value="" disabled selected hidden>-- Select Branch --</option>
                </select>
                <label asp-for="BranchId">Branch</label>
                <span asp-validation-for="BranchId" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/CRUD/Create.css" />
