@model AttributeVM
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" asp-controller="Attribute" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Attribute</h2>
            <hr />
        </div>
        @* <input asp-for="Id" hidden class="form-control"> *@
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Type"></label>
            <input asp-for="Type" class="form-control" />
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>

        <br />
        <hr />
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-action="Index" asp-controller="Attribute" class="btn btn-secondary" style="width:160px">
            back to Attributes
        </a>
    </div>
</form>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
