@model AttributeVM
@{
    ViewData["Title"] = "Add New Attribute";
}

<div class="form-page">
    <div class="form">
        <h3 class="formTitle" id="form-title">Add New Attribute</h3>

        <form method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder=" " />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Type" class="form-control" placeholder=" " />
                <label asp-for="Type"></label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Add</button>
                <a asp-action="Index" asp-controller="Attribute" class="btn btn-secondary">Back to Attributes</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/CRUD/Create.css">

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
