@model Customer
<div class="form-group">
    <label class="col-form-label" asp-for="FullName"></label>
    <input asp-for="FullName" class="form-control" readonly />
</div>

<div class="form-group">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CustomerCode"></label>
    <input asp-for="CustomerCode" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DateOfBirth"></label>
    <input asp-for="DateOfBirth" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="RegistrationDate"></label>
    <input asp-for="RegistrationDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="LastLoginDate"></label>
    <input asp-for="LastLoginDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="ModifiedDate"></label>
    <input asp-for="ModifiedDate" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="IsActive"></label>
    <input asp-for="IsActive" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="DeactivatedAt"></label>
    <input asp-for="DeactivatedAt" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CustomerType.Name"></label>
    <input asp-for="CustomerType.Name" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CustomerAddresses.FirstOrDefault()"></label>
    <input asp-for="CustomerAddresses.FirstOrDefault()" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="CustomerFavorites.Count"></label>
    <input asp-for="CustomerFavorites.Count" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Wishlists.Count"></label>
    <input asp-for="Wishlists.Count" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Orders.Count"></label>
    <input asp-for="Orders.Count" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="Reviews.Count"></label>
    <input asp-for="Reviews.Count" class="form-control" readonly />
</div>
<div class="form-group">
    <label class="col-form-label" asp-for="PaymentMethods.Count"></label>
    <input asp-for="PaymentMethods.Count" class="form-control" readonly />
</div>