
    @model ERP_System_Project.Models.Supplier

<div class="create-supplier">

    <div class="form"> 
        <h3 class="formTitle" id="form-title">Add Supplier</h3>

        <form id="supplierForm" asp-action="Create" method="post">
            <div class="form-group">
                <input asp-for="SupplierName" class="form-control" placeholder=" " />
                <label asp-for="SupplierName"></label>
                <span asp-validation-for="SupplierName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="SupplierCode" class="form-control" placeholder=" " />
                <label asp-for="SupplierCode"></label>
                <span asp-validation-for="SupplierCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select class="form-select" asp-for="SupplierCategoryId" asp-items="@(ViewData["SupplierCategories"] as SelectList)">
                    <option value="" disabled selected hidden>-- Select Category --</option>
                </select>
                <label asp-for="SupplierCategoryId">Category</label>
                <span asp-validation-for="SupplierCategoryId" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </form>
    </div>
</div>

  <link rel="stylesheet" href="~/css/CRUD/Create.css">

