:root {
    --icons-width: 70px;
    --sub-width: 220px;
    --topbar-h: 70px;
    /* Colors (Light mode) */
    --color-bg-body: #fff;
    --color-bg-container: #f3f4fb;
    --color-bg-sidebar: #FAF7FB;
    --color-bg-content: #fff;
    --color-text-main: #29343D;
    --color-text-muted: #bab9c4;
    --color-accent: #635BFF;
    --color-hover-accent: #635bff36;
    --color-active-accent: #fff;
}

.dark {
    --color-bg-body: #1a2537;
    --color-bg-container: #222d45;
    --color-bg-sidebar: #222d45;
    --color-bg-content: #1a2537;
    --color-text-main: #f5f5f5;
    --color-text-muted: #aaaaaa;
    --color-accent: #8e7cff;
    --color-hover-accent: #8e7cff36;
    --color-active-accent: #fff;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation */
@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


html, body {
    height: 100%;
    margin: 0;
    background: var(--color-bg-body);
}

/* navbar*/
.topbar {
    position: fixed;
    left: var(--icons-width);
    right: 0;
    top: 0;
    height: var(--topbar-h);
    z-index: 2000;
    background: var(--color-bg-body);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.mood {
    margin-bottom: 17px;
    margin-right: 25px;
}


.fa-moon, .fa-sun {
    font-size: 25px;
    transition: all 0.4s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.fa-moon {
    background: linear-gradient(135deg, #3A3A3A, #2C3E50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transform: scale(1) rotate(0deg);
}

.fa-sun {
    background: linear-gradient(135deg, #FFEB3B, #FF9800);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0.5) rotate(-180deg);
}

.dark .fa-sun {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    animation: bounceIn 0.4s ease;
}

.dark .fa-moon {
    opacity: 0;
    transform: scale(0.5) rotate(180deg);
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5) rotate(-30deg);
        opacity: 0;
    }

    60% {
        transform: scale(1.2) rotate(10deg);
        opacity: 1;
    }

    80% {
        transform: scale(0.9) rotate(-5deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

.dropdown {
    position: relative;
    margin-right: 20px;
    background: var(--color-bg-body);
}

    .dropdown button {
        color: var(--color-accent);
        color: var(--color-text-muted);
    }

        .dropdown button:hover {
            color: var(--color-accent);
        }

.dropdown-menu {
    z-index: 3000;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--color-bg-body);
}

.dropdown-item:hover {
    color: var(--color-accent);
}

.dropdown-item {
    color: var(--color-text-main);
}

h5 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-accent);
    font-size: 25px;
    letter-spacing: 7px;
    margin-left: 25px;
    text-shadow: var(--color-accent) -3px 2px 7px;
}

/* sidebar-icons*/
.sidebar-icons {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--icons-width);
    background: var(--color-bg-sidebar);
    color: var(--color-bg-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 10px 0;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
    transition: all 0.3s ease;
    z-index: 1100;
}

    .sidebar-icons:hover {
        overflow-y: auto;
    }

    .sidebar-icons::-webkit-scrollbar {
        width: 6px;
    }

    .sidebar-icons::-webkit-scrollbar-thumb {
        background-color: var(--color-accent);
        border-radius: 20px;
    }

    .sidebar-icons::-webkit-scrollbar-track {
        background: transparent;
    }

    .sidebar-icons button {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--color-text-muted);
        width: 75%;
        padding: 12px 0;
        border-radius: 10px;
        cursor: pointer;
        margin: 0;
        transition: all 0.2s ease;
    }

        .sidebar-icons button:hover {
            background: var(--color-hover-accent);
            color: var(--color-accent);
            transform: scale(1.1);
        }

        .sidebar-icons button.active,
        .nav-link.active {
            background: linear-gradient(90deg, #6A5BFF, #8E7CFF);
            border-radius: 10px;
            color: var(--color-active-accent);
        }

            .nav-link.active:hover {
                color: var(--color-bg-body);
            }

    /* ===== HR Line ===== */
    .sidebar-icons hr {
        width: 70%;
        border: 0;
        border-top: 1px solid var(--color-text-muted);
        margin: 8px 0; /* تصغير المسافة */
        opacity: 0.4;
    }

.submenu {
    position: fixed;
    left: var(--icons-width);
    top: var(--topbar-h);
    width: var(--sub-width);
    height: calc(100vh - var(--topbar-h));
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1040;
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.2s ease, opacity 0.2s ease;
    overflow-y: auto;
    background-color: var(--color-bg-body);
}

    .submenu.hidden {
        transform: translateX(calc(-1 * (var(--sub-width) + 20px)));
        opacity: 0;
        pointer-events: none;
    }

.hidden {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


h6 {
    color: var(--color-text-main);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 17px;
    margin-bottom: 15px;
}

.nav-link {
    color: var(--color-text-main);
}

    .nav-link:hover {
        color: var(--color-accent);
    }

.app {
    margin-left: calc(var(--icons-width) + var(--sub-width));
    transition: margin-left 0.2s ease;
    min-height: 100vh;
    overflow: visible;
}

    .app.submenu-hidden {
        margin-left: var(--icons-width);
    }

.main {
    padding-top: var(--topbar-h);
    display: flex;
    box-sizing: border-box;
}

.container {
    width: 97%;
    padding: 40px 25px;
    background: var(--color-bg-container);
    border-radius: 25px;
}

.content {
    border-radius: 25px;
    flex: 1 1 auto;
    padding: 1rem;
    margin: auto;
    width: 98%;
    background: var(--color-bg-content);
    height: calc(100vh - var(--topbar-h));
}






/* overlay */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.45);
    display: none;
    z-index: 1990;
}

.sidebar-icons, .submenu {
    transition: transform 0.28s ease, opacity 0.2s ease;
}

@media (max-width: 991px) {

    .topbar {
        left: 0 !important;
        right: 0;
    }

    .app {
        margin-left: 0 !important;
    }

    .sidebar-icons #menuToggle {
        display: none;
    }

    .sidebar-icons {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        transform: translateX(-110%);
        z-index: 2000;
        background: var(--sidebar-bg, var(--color-bg-sidebar));
        margin-top: var(--icons-width);
    }

    .submenu {
        position: fixed;
        left: calc(var(--icons-width));
        top: var(--topbar-h);
        width: var(--sub-width);
        height: calc(100vh - var(--topbar-h));
        transform: translateX(-150%);
        z-index: 2000;
        background: var(--submenu-bg, var(--color-bg-body));
    }

    body.mobile-sidebar-open .sidebar-icons,
    body.mobile-sidebar-open .submenu {
        transform: translateX(0);
    }

    body.mobile-sidebar-open .overlay {
        display: block;
    }

    body.mobile-sidebar-open {
        overflow: hidden;
    }

    .btn {
        background: none;
        border: none;
        font-size: 1.5rem;
        color: var(--color-text-muted);
        width: calc(var(--icons-width)*0.75);
        padding: 10px 0;
        border-radius: 10px;
        cursor: pointer;
    }

        .btn:hover {
            background: var(--color-hover-accent);
            color: var(--color-accent);
        }

        .btn.active {
            background: linear-gradient(90deg, #6A5BFF, #8E7CFF);
            border-radius: 10px;
            color: #fff;
        }
}
