@model BrandVM
@{
    ViewData["Title"] = "Edit Brand";
}

<div class="form-page">

    <div class="form"> 
        <h3 class="formTitle" id="form-title">Edit Brand</h3>

        <form asp-action="Edit" asp-controller="Brand" method="post">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <input asp-for="Name" class="form-control" placeholder=" " />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Description" class="form-control" placeholder=" " />
                <label asp-for="Description"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="LogoURL" class="form-control" placeholder=" " />
                <label asp-for="LogoURL"></label>
                <span asp-validation-for="LogoURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="WebsiteURL" class="form-control" placeholder=" " />
                <label asp-for="WebsiteURL"></label>
                <span asp-validation-for="WebsiteURL" class="text-danger"></span>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" asp-controller="Brand" class="btn btn-secondary">Back to Brands</a>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="~/css/CRUD/Create.css">

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
